@export {
  $font-weight: normal !default;

  $(name) {
    color: $white;
    background-color: $color-primary;
    padding: $padding-offset;
    border: 0;
    border-radius: $border-radius;
    font-weight: $font-weight;
  }
}

@export as 'color' {
  $(name) {
    background-color: $color;
  }
}

@export as 'size' {
  $(name) {
  }
}
