{
  "extends": "eslint-config-postcss",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "jest": true
  },
  "rules": {
    "semi": 2,
    "indent": ["error", 2],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-use-before-define": [
      "error", {
        "functions": false
      }
    ]
  }
}
