
/* package definition */
@cpm-package {
  .$(name) {
    display: inline-block;
    padding: $padding;
    border-radius: $border-radius;
  }
}

/* package usage */
@cpm-import cpm-button as .button {
  $padding: 0.5em 1em;
  $border-radius: 0.5em;
}
