@export {
  $color: color-mod($color-primary shade(30%));
  $bg-color: color-mod($color lightness(90%));
  $link-color: color-mod($color lightness(-15%));
  $margin: 0 0 $default-margin;

  $(name) {
    margin: $margin;
    padding: $offset-padding-large;
    border: 1px solid $color;
    border-radius: $border-radius;
    color: $color;
    background-color: $bg-color;

    a {
      color: $link-color;

      &:hover {
        color: color-mod($link-color saturation(+30%));
      }
    }
  }
}

@export as "color" {
  $color: $color-primary;
  $bg-color: color-mod($color lightness(90%));
  $border-color: $color;
  $link-color: color-mod($color lightness(-15%));

  $(name) {
    color: $color;
    border-color: $border-color;
    background-color: $bg-color;

    a {
      color: $link-color;

      &:hover {
        color: color-mod($link-color saturation(+30%));
      }
    }
  }
}

/*
Renders to:
$color: $color-danger; // user, passed in

$name: .alert--danger; // export

// package-defined
$bg-color: color-mod($color lightness(90%)) !default;
$border-color: $color !default;
$link-color: color-mod($color lightness(-15%)) !default;
*/
