:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: $default-margin;
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
}

h1 {
  font-size: 3.375rem;
  font-weight: $font-weight-black;
  line-height: 1;
}
h2 {
  font-size: 2.25rem;
  line-height: 1.1;
}
h3 {
  font-size: 1.75rem;
  line-height: 1.25;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.25;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

p,
ul,
ol {
  margin-top: 0;
  margin-bottom: $default-margin;
}

a {
  color: $link-color;

  &:visited {
    color: $link-color-visited;
  }

  &:hover {
    color: $link-color-hover;
  }

  &:active {
    color: $link-color-active;
  }
}

pre {
  display: block;
  padding: $padding;
  border: 1px solid $gray-9;
  background-color: $gray-10;
  border-radius: $border-radius;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
}
