@export {
  $color: $white;
  $bg-color: $color-primary;
  $font-weight: $font-weight-normal;
  $padding: $offset-padding;

  $(name) {
    display: inline-block;
    color: $color;
    background-color: $bg-color;
    padding: $padding;
    border: 0;
    border-radius: $border-radius;
    font-weight: $font-weight;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;

    &:visited,
    &:active {
      color: $color;
    }

    &:hover {
      color: $color;
      background-color: color-mod($bg-color lightness(-15%));
      box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
    }

    &:disabled {
      color: color-mod($color saturation(-20%));
      background-color: color-mod($bg-color saturation(-20%) lightness(+15%));
      box-shadow: none;
      cursor: default;
    }
  }
}

@export as "color" {
  $color: $white;

  $(name) {
    color: $color;
    background-color: $bg-color;

    &:disabled {
      color: color-mod($color saturation(-20%));
      background-color: color-mod($bg-color saturation(-20%) lightness(+15%));
      box-shadow: none;
      cursor: default;
    }
  }
}

@export as "size" {
  $size: 1rem;
  $padding: $offset-padding;

  $(name) {
    font-size: $size;
    padding: $padding;
  }
}

@export as "outline" {
  $color: $color-primary;
  $bg-color: transparent;
  $border-color: color-mod($color saturation(-5%));

  $(name) {
    border: $border-color solid 1px;
    color: $color;
    background-color: $bg-color;

    &:hover {
      background-color: $color;
      color: $white;
    }

    &:active {
      color: $color;
    }

    &:disabled {
      background-color: $gray-8;
    }
  }
}
