@export {
  $width: 62em;
  $min-margin: 1em;
  $breakpoint: 64em;

  $(name) {
    padding-right: $min-margin;
    padding-left: $min-margin;
    margin-bottom: 3em;

    @media (min-width: $breakpoint) {
      margin-right: auto;
      margin-left: auto;
      max-width: $width;
    }
  }
}
