@export {
  $border: 1px solid #808080 !default;
  $text-transform: uppercase !default;
  $hover-color: $color-primary !default;
  $breakpoint: 600px !default;

  $(name) {
    border-bottom: $border;

    &__brand {
      margin-right: 1em;

      a {
        display: block;
        padding: $offset-padding;
        color: $body-color;
        font-weight: $font-weight-bold;
        text-transform: $text-transform;
        text-decoration: none;

        &:hover {
          color: $hover-color;
        }
      }
    }

    @media (min-width: $breakpoint) {
      display: flex;
      align-items: baseline;
    }
  }
}
