@export {
  $link-selector: $(name) > li > a;
  $color: $color-primary;
  $hover-color: black;
  $hover-text-decoration: underline;
  $breakpoint: 400px;
  $wrap: false;
  $padding: $offset-padding;

  $(name) {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  $(link-selector) {
    display: block;
    padding: $padding;
    color: $color;
    text-decoration: none;
    font-weight: $font-weight-bold;

    &:hover {
      color: $hover-color;
      text-decoration: $hover-text-decoration;
    }
  }

  @media (min-width: $breakpoint) {
    $(name) {
      display: flex;
      @if $wrap {
        flex-wrap: wrap;
      }
    }

    $(link-selector) {
      padding: $offset-padding;
    }
  }
}
