@export {
  $padding: $padding-medium;

  $(name) {
    width: 100%;
    max-width: 100%;

    th,
    td {
      padding: $padding;
      text-align: left;
      border-bottom: 1px solid $gray-9;
    }
  }
}

@export as "bordered" {
  $border-color: $gray-7;

  $(name) {
    border-collapse: collapse;
    td,
    th {
      border: 1px solid $border-color;
    }

    th {
      border-bottom-width: 2px;
    }
  }
}
